.row {
  margin-left: 15px;
  margin-right: 15px;
}

.kpt-delete {
  text-align: right;
}

.ad {
  text-align: center;  
  margin-bottom: 25px;
}

.middle {
  font-size: 18px;
  margin-bottom: 50px;
}

.ktitle{
  font-size: 25px;
  color: #99ccff;
}

.ptitle{
  font-size: 25px;
  color: #ffcccc;
}

.ttitle{
  font-size: 25px;
  color: #ccffcc;
}

.kscript {
  background: white; 
  border-radius: 5px;
  margin-bottom: 20px;
}

.pscript {
  background: white;
  border-radius: 5px;
  margin-bottom: 20px;
}

.tscript {
  background: white;
  border-radius: 5px;
  margin-bottom: 20px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin-top: 50px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 15px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
