<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>kptnote</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">
      <div class="header">
        <h3 class="text-muted">kptnote</h3>
      </div>

      <div class="jumbotron">
        <h1>KPT Management</h1>
        <p class="lead">Evaluate your activity with Keep, Problem and Try.</p>
      </div>

      <div class="ad">
        <!-- admax -->
        <script src="http://adm.shinobi.jp/s/b15c00cdb4896131584b9847ec3f009a"></script>
        <!-- admax -->
      </div>

      <div class="middle">
        <div class="form-group">
          <p class="kpt">Project Title</p><input type="text" class="form-control" id="title"/>
        </div>
        <div class="form-group">
          <p class="kpt">Description</p><input type="text" class="form-control" id="title"/>
        </div>
      
        <div id="input"> 
          <div class="ktitle">
            <p>Keep</p>
          </div>
          <div class="kscript">
            <div v-repeat="user : users">
              <div v-if="user.name">
                <div class="row" v-if="user.class=='K'">
                  ・{{user.name}}
                  <button type="button" class="btn btn-delete pull-right" v-on="click : deleteUser(user)">×</button>
                </div><br>
              </div>
            </div>
          </div>
          <div class="ptitle">
            <p>Problem</p>
          </div>
          <div class="pscript">
            <div v-repeat="user : users">
              <div v-if="user.name">
                <div class="row" v-if="user.class=='P'">
                  ・{{user.name}}
                  <button type="button" class="btn btn-delete pull-right" v-on="click : deleteUser(user)">×</button>
                </div><br>
              </div>
            </div>
          </div>
          <div class="ttitle">
            <p>Try</p>
          </div>
          <div class="tscript">
            <div v-repeat="user : users">
              <div v-if="user.name">
                <div class="row" v-if="user.class=='T'">
                  ・{{user.name}}
                  <button type="button" class="btn btn-delete pull-right" v-on="click : deleteUser(user)">×</button>
                </div><br>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-10">
              <input class="form-control" type="text" v-model="user.name"><br>
              <button type="button" class="btn btn-primary" v-on="click : addKItem(user)">Keep</button>
              <button type="button" class="btn btn-danger" v-on="click : addPItem(user)">Problem</button>
              <button type="button" class="btn btn-success" v-on="click : addTItem(user)">Try</button>
            </div>
          </div>
        </div>
      </div>

      <div class="ad">
        <!-- admax -->
        <script src="http://adm.shinobi.jp/s/b15c00cdb4896131584b9847ec3f009a"></script>
        <!-- admax -->
      </div>

      <div class="footer">
        <p>Copyright &copy; 2015 kptnote All Rights Reserved</p>
      </div>
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/vue/dist/vue.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-52998349-4', 'auto');
      ga('send', 'pageview');
    </script>

        <!-- build:js(.) scripts/plugins.js -->
        <script src="bower_components/bootstrap/js/affix.js"></script>
        <script src="bower_components/bootstrap/js/alert.js"></script>
        <script src="bower_components/bootstrap/js/dropdown.js"></script>
        <script src="bower_components/bootstrap/js/tooltip.js"></script>
        <script src="bower_components/bootstrap/js/modal.js"></script>
        <script src="bower_components/bootstrap/js/transition.js"></script>
        <script src="bower_components/bootstrap/js/button.js"></script>
        <script src="bower_components/bootstrap/js/popover.js"></script>
        <script src="bower_components/bootstrap/js/carousel.js"></script>
        <script src="bower_components/bootstrap/js/scrollspy.js"></script>
        <script src="bower_components/bootstrap/js/collapse.js"></script>
        <script src="bower_components/bootstrap/js/tab.js"></script>
        <!-- endbuild -->

        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
